{% extends 'base.html' %}

{% block title %}Create/modify items{% endblock %}

{% block header %}
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarMonths">
    <a class="nav-link" href="{{ url_for('index') }}">
      <img src="/static/img/arrow-left-square.svg" alt="" width="25" height="25" title="back"/>
    </a>
  </div>
</nav>
{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="deleteItemModal" tabindex="-1" aria-labelledby="deleteItemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Delete this item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" id="deleteItemConfirmed" name="deleteItemConfirmed">Yes, delete</button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <form class="inputform" method="post" action="{{ form_action }}">
    {{ form.hidden_tag() }}

    <div class="form-row">
      <div class="form-group col-md-4 offset-3">
        <div class="radio-toolbar col-mx-1">
          {% for subfield in form.itemtype %}
            {{ subfield }}
            {{ subfield.label }}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        {{ form.date.label() }}
        {{ form.date(class_="form-control") }}
      </div>
      <div class="invisible col-md-2"></div>
      <div class="form-group col-md-3">
        {{ form.payment_type.label() }}
        {{ form.payment_type(class_="form-control") }}
      </div>
      <div class="form-group col-md-3">
        {{ form.category.label() }}
        {{ form.category(class_="form-control") }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        {{ form.amount.label() }}
        {{ form.amount(class_="form-control") }}
        {% if form.amount.errors %}
          {% for error in form.amount.errors %}
             <div id="alert-amount" class="alert alert-danger">{{ error }}</div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="form-group col-md-10">
        {{ form.description.label() }}
        {{ form.description(class_="form-control", placeholder="Coop: bread, butter, milk") }}
        {% if form.description.errors %}
          {% for error in form.description.errors %}
             <div id="alert-description" class="alert alert-danger">{{ error }}</div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {{ form.submit(class_="btn btn-outline-success") }}
    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteItemModal">
      Delete
    </button>
    <button type="reset" class="btn btn-outline-secondary">Reset</button>
  </form>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function fillCategory(element, trigger) {
        if (trigger == 'revenue') {
            console.log(trigger);
            console.log(element);
            console.log($('button#isRevenue'));
            // element.className = element.className.append(" active");
            // $('button#isRevenue').className = $('button#isRevenue').className.replace(" active", "");
            // $('button#isRevenue').className = $('button#isRevenue').className.replace(" active", "");
            // $('button#isExpenditure').className = $('button#isRevenue').className.append(" active");
        }
    };
    setTimeout(function () {
        $('#alert-amount').alert('close');
        $('#alert-description').alert('close');
    }, 4000);
</script>
{% endblock %}
