{% extends 'base.html' %}

{% block title %}Create/modify items{% endblock %}

{% block header %}
<div class="container-xl">
  <div class="row">
    <div class="col">
      <a class="" href="{{ url_for('index') }}">
        <i class="bi bi-backspace" style="font-size: 2rem"></i>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-xl mt-2">
  <form class="inputform" method="post" action="{{ form_action }}">
    {{ form.hidden_tag() }}
    <div class="form-row justify-content-center my-2">
      {{ form.itemtype.label(class_="") }}
      <div class="mb-3 input-group">
        <span class="input-group-text">
          <i class="bi bi-card-list"></i>
        </span>
        <select class="form-select">
            {% for subfield in form.itemtype %}
              <option value="{{ subfield }}">{{ subfield.label() }}</option>
            {% endfor %}
        </select>
      </div>
      {{ form.date.label() }}
      <div class="mb-3 input-group">
        <span class="input-group-text">
          <i class="bi bi-calendar2-date"></i>
        </span>
        {{ form.date(class_="form-control") }}
      </div>
      {{ form.payment_type.label() }}
      <div class="mb-3 input-group">
        <span class="input-group-text">
          <i class="bi bi-wallet2"></i>
        </span>
        {{ form.payment_type(class_="form-control") }}
      </div>
      {{ form.category.label() }}
      <div class="mb-3 input-group">
        <span class="input-group-text">
          <i class="bi bi-tags"></i>
        </span>
        {{ form.category(class_="form-control") }}
      </div>
      {{ form.amount.label() }}
      <div class="mb-3 input-group">
        <span class="input-group-text">
          <i class="bi bi-currency-euro"></i>
        </span>
        {{ form.amount(class_="form-control dropdown-menu-dark", placeholder="e.g. 12.00") }}
        {% if form.amount.errors %}
          {% for error in form.amount.errors %}
             <div id="alert-amount" class="alert alert-danger">{{ error }}</div>
          {% endfor %}
        {% endif %}
      </div>
      {{ form.description.label() }}
      <div class="mb-3 input-group">
        <span class="input-group-text">
          <i class="bi bi-bag"></i>
        </span>
        {{ form.description(class_="form-control", placeholder="e.g. Coop: bread, butter, milk") }}
        {% if form.description.errors %}
          {% for error in form.description.errors %}
             <div id="alert-description" class="alert alert-danger">{{ error }}</div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {{ form.submit(class_="btn btn-outline-success") }}
    {% if form.delete %}
      {{ form.delete(class_="btn btn-outline-danger", data_toggle="modal", data_target="#deleteItemModal") }}
    {% endif %}
    <button type="reset" class="btn btn-outline-secondary">Reset</button>
  </form>
</div>
{% endblock %}

{% block script %}
{% endblock %}
