{% extends 'base.html' %}

{% block title %}Show items{% endblock %}

{% set this_year, this_month = g.curr_month.split("/") %}
{% set this_year = this_year | int %}
{% set this_month = this_month | int %}
{% set next_year, next_month = g.next_month.split("/") %}
{% set prev_year, prev_month = g.prev_month.split("/") %}

{% block header %}
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarMonths">
    <a class="nav-link" href="{{ url_for('items.show', year=prev_year, month=prev_month) }}">&lt;</a>
    <a class="nav-link" href="#" name="monthOnlyPicker">{{ g.curr_month_abbr }} {{ this_year }}</a>
    <a class="nav-link" href="{{ url_for('items.show', year=next_year, month=next_month) }}">&gt;</a>
    <a class="nav-link" href="{{ url_for('items.create') }}"><img src="/static/img/plus-square.svg" alt="" width="25" height="25" title="add entry" /></a>
    <div class="container justify-content-center">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% endblock %}


{% block content %}
{% if items %}
  {% set sum_revenues = items[this_year][this_month]['sum_revenues'] %}
  {% set sum_expenditures = items[this_year][this_month]['sum_expenditures'] %}
  {% set saldo = sum_revenues - sum_expenditures %}
{% else %}
  {% set sum_revenues = 0 %}
  {% set sum_expenditures = 0 %}
  {% set saldo = 0 %}
{% endif %}
<div class="container-fluid">
  <div class="row">
    <div class="col offset-1">Revenues</div>
    <div class="col">Expenditures</div>
    <div class="col">Saldo</div>
  </div>
  <div class="row justify-content-center">
    <div class="col offset-1 text-primary">&euro; {{ "%.2f"|format(sum_revenues) }}</div>
    <div class="col text-danger">&euro; {{ "%.2f"|format(sum_expenditures) }}</div>

    <div class="col text-secondary">&euro; {{ "%.2f"|format(saldo) }}</div>
  </div>
</div>

{% include 'render_items.html' %}
{% endblock %}


{% block script %}
<script type="text/javascript">
    setTimeout(function () {
        $('#alert-amount').alert('close');
        $('#alert-description').alert('close');
    }, 4000);
    $(function() {
      $('input[name="birthday"]').daterangepicker({
          singleDatePicker: true,
          showDropdowns: true,
          minYear: 2001,
          maxYear: parseInt(moment().format('YYYY'), 10)
      }, function(start, end, label) {
          var years = moment().diff(start, 'years');
          alert("You are " + years + " years old!");
      });
    });
    // https://github.com/dangrossman/daterangepicker/issues/727#issuecomment-675301155
    $('a[name="monthOnlyPicker"]').daterangepicker({
      opens: 'right',
      startDate: moment(start),
      endDate: moment(end),
      showDropdowns: true,
      linkedCalendars: false,
      locale: {
        firstDay: 1
      }
    }, (start, end) => {
      $(''#datepicker' span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      onChange(start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'))
    }).on('showCalendar.daterangepicker', (ev, picker) => {
      $('.table-condensed thead tr:nth-child(2), .table-condensed tbody').hide();
      var start = moment((parseInt($('.left .monthselect').val()) + 1) + '/01/' + $('.left .yearselect').val())
      var end = moment((parseInt($('.right .monthselect').val()) + 1) + '/01/' + $('.right .yearselect').val())
      $('#datepicker').data('daterangepicker').setStartDate(start);
      $('#datepicker').data('daterangepicker').setEndDate(end);
    })
</script>
{% endblock %}
