{% extends 'base.html' %}

{% block title %}Show items{% endblock %}

{% set this_year, this_month = g.curr_month.split("/") %}
{% set this_year = this_year | int %}
{% set this_month = this_month | int %}
{% set next_year, next_month = g.next_month.split("/") %}
{% set prev_year, prev_month = g.prev_month.split("/") %}

{% block header %}
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarMonths">
    <a class="nav-link" href="{{ url_for('items.show', year=prev_year, month=prev_month) }}">&lt;</a>
    <a class="nav-link" href="#" name="monthlyPicker">{{ g.curr_month_abbr }} {{ this_year }}</a>
    <a class="nav-link" href="{{ url_for('items.show', year=next_year, month=next_month) }}">&gt;</a>
    <a class="nav-link" href="{{ url_for('items.create') }}"><img src="/static/img/plus-square.svg" alt="" width="25" height="25" title="add entry" /></a>
    <div class="container justify-content-center">
      <form class="form-inline" method="post" action="{{ url_for('search.index') }}">
        {{ search_form.hidden_tag() }}
        {{ search_form.description(class_="form-control mr-sm-2", placeholder="Search") }}
        {{ search_form.submit(class_="btn btn-outline-success my-2 my-sm-0") }}
      </form>
    </div>
  </div>
</nav>
{% endblock %}


{% block content %}
{% if items and this_year in items %}
  {% set sum_revenues = items[this_year][this_month]['sum_revenues'] %}
  {% set sum_expenditures = items[this_year][this_month]['sum_expenditures'] %}
  {% set saldo = sum_revenues - sum_expenditures %}
{% else %}
  {% set sum_revenues = 0 %}
  {% set sum_expenditures = 0 %}
  {% set saldo = 0 %}
{% endif %}
<div class="container-fluid mb-3">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col offset-1">Revenues</div>
        <div class="col">Expenditures</div>
        <div class="col">Saldo</div>
      </div>
      <div class="row justify-content-center">
        <div class="col offset-1 text-primary">&euro; {{ "%.2f"|format(sum_revenues) }}</div>
        <div class="col text-danger">&euro; {{ "%.2f"|format(sum_expenditures) }}</div>

        <div class="col text-secondary">&euro; {{ "%.2f"|format(saldo) }}</div>
      </div>
    </div>
  </div>
</div>

{% include 'items/render_items.html' %}
{% endblock %}


{% block script %}
<script type="text/javascript">
    setTimeout(function () {
        $('#alert-amount').alert('close');
        $('#alert-description').alert('close');
    }, 4000);
    $(function() {
      $('input[name="birthday"]').daterangepicker({
          singleDatePicker: true,
          showDropdowns: true,
          minYear: 2001,
          maxYear: parseInt(moment().format('YYYY'), 10)
      }, function(start, end, label) {
          var years = moment().diff(start, 'years');
          alert("You are " + years + " years old!");
      });
    });
    // https://github.com/dangrossman/daterangepicker/issues/727#issuecomment-675301155

</script>
{% endblock %}
