{% extends 'base.html' %}

{% block title %}Show items{% endblock %}

{% block header %}
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarMonths">
    <a class="nav-link" href="#">&lt;</a>
    <a class="nav-link" href="#">Dec. 2020</a>
    <a class="nav-link" href="#">&gt;</a>
    <a class="nav-link" href="{{ url_for('items.create') }}"><img src="/static/img/plus-square.svg" alt="" width="25" height="25" title="add entry" /></a>
    <div class="container justify-content-center">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% endblock %}


{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col offset-1">Revenues</div>
    <div class="col">Expenditures</div>
    <div class="col">Saldo</div>
  </div>
  <div class="row">
    <div class="col offset-1 text-primary">&euro; 1200.00</div>
    <div class="col text-danger">&euro; 437.00</div>
    <div class="col text-secondary">&euro; 763.00</div>
  </div>
</div>

{% include 'render_items.html' %}
{% endblock %}


{% block script %}
<script type="text/javascript">
        setTimeout(function () {
            $('#alert-amount').alert('close');
            $('#alert-description').alert('close');
        }, 4000);
</script>
{% endblock %}
