<div class="modal fade" id="editItemModal" tabindex="-1" aria-labelledby="editItemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editItemModalLabel">Create item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
  {% for field, errors in form.errors.items() %}
    <small class="form-text text-muted ">
        {{ field }} {{ ', '.join(errors) }}
    </small>
  {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteItemModal" tabindex="-1" aria-labelledby="deleteItemModalLabel" aria-hidden="true">
  <div class="modal-dialog model-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteItemModalLabel">Delete item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
