<form class="inputform"
      style="border-color: #0d6efd;"
      method="post" action="{{ form_action }}">
  {{ form.hidden_tag() }}
  <div class="form-row justify-content-center my-2">
    <div class="mb-3 input-group">
      <span class="input-group-text">
        <i class="bi bi-arrow-left-right"></i>
      </span>
      {{ form.itemtype(class_="form-control") }}
    </div>
    <div class="mb-3 input-group">
      <span class="input-group-text">
        <i class="bi bi-calendar2-date"></i>
      </span>
      {{ form.date(class_="form-control") }}
    </div>
    <div class="mb-3 input-group">
      <span class="input-group-text">
        <i class="bi bi-cash-coin"></i>
      </span>
      {{ form.payment_type(class_="form-control") }}
    </div>
    <div class="mb-3 input-group">
      <span class="input-group-text">
        <i class="bi bi-tags"></i>
      </span>
      {{ form.category(class_="form-control") }}
    </div>
    <div class="mb-3 input-group">
      <span class="input-group-text">
        <i class="bi bi-currency-euro"></i>
      </span>
      {{ form.amount(class_="form-control", placeholder="12.00") }}
      {% if form.amount.errors %}
        {% for error in form.amount.errors %}
           <div id="alert-amount" class="alert alert-danger">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="mb-3 input-group">
      <span class="input-group-text">
        <i class="bi bi-pencil"></i>
      </span>
      {{ form.description(class_="form-control", placeholder='e.g. Coop: bread, butter, milk') }}
      {% if form.description.errors %}
        {% for error in form.description.errors %}
           <div id="alert-description" class="alert alert-danger">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {{ form.submit(class_="btn btn-outline-success") }}
</form>
{% for field, errors in form.errors.items() %}
  <small class="form-text text-muted ">
    {{ field }} {{ ', '.join(errors) }}
  </small>
{% endfor %}

<script>
      // this function dynamically updates the categories depending on
      // the selected itemtype, i.e. income or expense
      // query /categories?itemtype_id=39 -> returns [{1: 'foo', 2: 'bar'}, 2] as json
      // which is used to update the #category textbox
      $('#itemtype').change(function() {
          $.ajax({
              type: "GET",
              url: '/categories',
              data: {itemtype_id: $('#itemtype').val()},
              dataType: 'json',
              success: function (data) {
                  // data is something like [[{id, name}, {...}], [default_id]]
                  let options = data[0];
                  let selected_option = data[1];
                  // console.table(data);

                  let category_select = document.getElementById("category");
                  let optionHtml = '';
                  $.each(options, function(_id, _name) {
                      let selected = '';
                      if (parseInt(_id) == parseInt(selected_option)) {
                          selected = 'selected';
                      }
                      optionHtml += '<option value="' + _id + '" ' + selected + '>' + _name + "</option>";
                  });
                  category_select.innerHTML = optionHtml;
              },
              error: function (request, status, error) {
                  console.log("ajax call went wrong:" + request.responseText + " error:" + error);
              }
          });
      });
</script>