<div class="container-xl mt-4">
  {% for year in items.keys() -%}
  {% if not year is string %}
    {% for month in items[year].keys() -%}
    {% if not month is string %}
      {% for day in items[year][month].keys() -%}
        {% if not day is string %}
          <div class="shadow p-2">
          <div class="row pb-1 pl-2 mt-2"  style="background-color: #bce8f1">
            <div class="col-1 font-weight-bold h4">{{ day }}</div>
            <div class="col-2">
              <button class="btn btn-secondary btn-sm px-1 disabled">{{ items[year][month][day]['weekday'] }}</button>
            </div>
            <div class="col-4 text-right text-primary">{% if items[year][month][day]['sum_revenues'] %}
              &euro; {{ "%.2f"|format(items[year][month][day]['sum_revenues']) }}{% endif %}
            </div>
            <div class="col-2 offset-2 text-right text-danger">{% if items[year][month][day]['sum_expenditures'] %}
              &euro; {{ "%.2f"|format(items[year][month][day]['sum_expenditures']) }} {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col offset-1"></div>
          </div>

            {% for item in items[year][month][day]['entries'] %}
            <div class="row pl-2">
              <div class="col-3 font-weight-light">{{ item.category|capitalize }}</div>
              <div class="col-6 text-truncate">
                <a href="{{ url_for('items.edit',item_id=item.id) }}" class="text-secondary">{{ item.description }}</a>
              </div>
              <div class="col-2 text-right
              {% if item['is_revenue'] %} text-primary {% else %} text-danger {% endif %}">&euro; {{ "%.2f"|format(item.amount) }}</div>
            </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% endfor %}
  {% endif %}
  {% endfor %}
</div>

<script type="text/javascript">
  function submitForm(action='edit', val) {
      // alert($("navbarSupportedContent"))
      $('#edit-or-delete-id').value = val
      alert(val)
      alert($('#edit-or-delete-id').id)
  }
</script>