<div class="container-xl mt-4">
  {% for year in items.keys() -%}
  {% if not year is string %}
    {% for month in items[year].keys() -%}
    {% if not month is string -%}
      <div class="card mb-1">
        <div class="card-header">
          <div class="">
            <div class="">
              <div class="row mb-2">
                <div class="col h4">
                  {{ month_name(month) }}&nbsp;{{ year }}
                </div>
              </div>
            </div>
            <div>
            {% for day in items[year][month].keys() -%}
              {% for item in items[year][month][day]['entries'] -%}
              <div class="row zebra p-1">
                <div class="col text-truncate fadeshow">{{ "%d-%02d-%02d"|format(year, month, day) }}</div>
                <div class="col text-truncate fadeshow">{{ item.category|capitalize }}</div>
                <div class="col text-truncate"><a href="#" class="btn-action"
                                             data-url="{{ url_for('items.edit',item_id=item.id) }}?form_only"
                                             data-bs-toggle="modal"
                                             data-bs-target="#editItemModal"
                                             data-title="Edit item" data-submit-button-title="Update">
                                             {{ item.description }}</a></div>
                <div class="col text-end {% if item.is_income %}text-success{% else %}text-danger{% endif %}">&euro; {{ "%.2f"|format(item.amount) }}</div>
                <div class="col text-end">
                  <button class="btn btn-action" style="padding: 0px 1px;"
                          data-url="{{ url_for('items.edit', item_id=item.id) }}?form_only"
                          data-form-action="{{ url_for('items.create') }}"
                          data-bs-toggle="modal" data-bs-target="#editItemModal"
                          data-title="Copy item" data-submit-button-title="Create">
                    <i data-feather="copy" style="stroke-width: 1px; size: 10px;"></i>
                  </button>
                  <button class="btn btn-action" style="padding: 0px;" data-bs-toggle="modal"
                          data-url="{{ url_for('items.remove',item_id=item.id) }}?form_only"
                          data-bs-target="#deleteItemModal" data-title="Confirm deletion"
                          data-submit-button-title="Yes">
                    <i data-feather="trash-2" style="stroke-width: 1px; size: 10px;"></i>
                  </button>
                </div>
              </div>
              {% endfor %}
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
  {% endif %}
  {% endfor %}
</div>
