{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block header %}
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarMonths">
    <a class="nav-link" href="{{ url_for('index') }}">
      <img src="/static/img/arrow-left-square.svg" alt="" width="25" height="25" title="back"/>
    </a>
  </div>
</nav>

<div class="container-fluid">
  <form class="inputform" method="post" action="{{ url_for('search.index') }}">
    {{ form.hidden_tag() }}
    <div class="form-row">
      <div class="form-group col-md-4">
        {{ form.description(class_="form-control", placeholder="Coop: bread, butter, milk") }}
      </div>
      <div class="form-group col-md-3">
          {{ form.submit(class_="btn btn-outline-success") }}
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <a id="collapseSearchDetailsHeader" data-toggle="collapse" href="#collapseSearchDetails" role="button" aria-expanded="true" aria-controls="collapseSearchDetails">
          <img src="static/img/arrow-down-up.svg" />
        </a>
      </div>
    </div>
    <div class="collapse" id="collapseSearchDetails">
      <div class="form-inline">
        <div class="col-1">
          Betrag
        </div>
        <div class="col-2 md-3">
          {{ form.min_val(class_="form-control", placeholder="min") }}
        </div>
        <div class="col-1">
          {{ form.max_val(class_="form-control", placeholder="max") }}
        </div>
      </div>
      <div class="form-row p-3">
        <div class="col-1">
          {{ form.category.label() }}
        </div>
        <div class="col">
          <input class="form-control" id="CategoryFilter">
        </div>
      </div>
      <div class="form-row p-3">
        <div class="col-1">
          {{ form.payment.label() }}
        </div>
        <div class="form-group col">
          <input class="form-control" id="PaymentFilter">
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block content %}
{% if items %}
  {% set sum_revenues = items['sum_revenues'] %}
  {% set sum_expenditures = items['sum_expenditures'] %}
  {% set saldo = sum_revenues - sum_expenditures %}
{% else %}
  {% set sum_revenues = 0 %}
  {% set sum_expenditures = 0 %}
  {% set saldo = 0 %}
{% endif %}
<div class="container-fluid mb-3">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col offset-1">Revenues</div>
        <div class="col">Expenditures</div>
        <div class="col">Saldo</div>
      </div>
      <div class="row justify-content-center">
        <div class="col offset-1 text-primary">&euro; {{ "%.2f"|format(sum_revenues) }}</div>
        <div class="col text-danger">&euro; {{ "%.2f"|format(sum_expenditures) }}</div>
        <div class="col text-secondary">&euro; {{ "%.2f"|format(saldo) }}</div>
      </div>
    </div>
  </div>
</div>

{% include 'search/render_items.html' %}
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script language="javascript" type="text/javascript">
    function retainDivCollapsedState(nameOfDiv, nameOfHeader) {
        // when the div is shown, save a cookie with a value of 'true'
        $("#" + nameOfDiv).on('shown.bs.collapse', function () {
            $.cookie(nameOfDiv, "true"); // this is a cookie.  named the same as the control (poor practice) for brevity
        });
        // when the div is collapsed, remove the same cookie
        $("#" + nameOfDiv).on('hidden.bs.collapse', function () {
            $.removeCookie(nameOfDiv);
        });

        // on page load, show or hide the div (and stylized the header) according to the cookie (if it exists)
        var showDiv = $.cookie(nameOfDiv);
        if (showDiv != null) {
            $("#" + nameOfDiv).addClass("show");                      // The div to show
            $("#" + nameOfHeader).removeClass("collapsed");         // The header to stylize as expanded
        }
    };

    var msCFPreSelectedValues = [];
    var val = document.querySelector("#category").value
    if (val) {
        msCFPreSelectedValues = JSON.parse(val)
        console.log("msPFPreSelectedValues " + msCFPreSelectedValues)
    }
    else {
        console.log("category.value is " + val)
    }
    var msCF = $('#CategoryFilter').magicSuggest({
        value: msCFPreSelectedValues,
        sortOrder: 'name',
        data: '{{ url_for("search.get_categories") }}'
    });
    $(msCF).on('selectionchange', function(){
        $('input[name=category]').val(JSON.stringify(this.getValue()));
    });

    var msPFPreSelectedValues = [];
    var val = document.querySelector("#payment").value
    if (val) {
        msPFPreSelectedValues = JSON.parse(val)
        console.log("msPFPreSelectedValues " + msPFPreSelectedValues)
    }
    else {
        console.log("payment.value is " + val)
    }
    var msPF = $('#PaymentFilter').magicSuggest({
        value: msPFPreSelectedValues,
        sortOrder: 'name',
        data: '{{ url_for("search.get_payments") }}',
    });

    $(msPF).on('selectionchange', function(){
        $('input[name=payment]').val(JSON.stringify(this.getValue()));
    });

    $(document).ready(
        retainDivCollapsedState("collapseSearchDetails", "collapseSearchDetails")
    );

    setTimeout(function () {
        $('#alert-amount').alert('close');
        $('#alert-description').alert('close');
    }, 4000);
</script>
{% endblock %}
