{% extends 'base.html' %}

{% block header %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
      <div class="container">
        <div class="alert alert-danger" role="alert">{{ message }}</div>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}


{% block content %}
<div class="container">
  <form method="post">
    <img class="mb-4" src="../static/money.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <div class="p-1"></div>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="p-2"></div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
  </form>
</div>
{% endblock %}
