{{ list('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789@#$%^&*-_+=<>,./?";:][')|random }}
{% extends 'base.html' %}

{% block header %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
      <div class="container">
        <div class="alert alert-danger" role="alert">{{ message }}</div>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="container">
  <form method="post">
    {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    {{ form.email(class_="form-control", placeholder="Email") }}
    {% if form.email.errors %}
      {% for error in form.email.errors %}
        <div id="alert-email" class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    {% endif %}
    <div class="p-1"></div>
    {{ form.password(class_="form-control", placeholder="Password") }}
    {% if form.password.errors %}
      {% for error in form.password.errors %}
        <div id="alert-password" class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    {% endif %}
    <div class="p-2"></div>
    <div class="checkbox mb-3">
      <label>{{ form.remember_me }} {{ form.remember_me.label }}</label>
    </div>
    {{ form.submit(class_="btn btn-lg btn-success btn-block") }}
  </form>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
        setTimeout(function () {
            $('#alert-email').alert('close');
            $('#alert-password').alert('close');
        }, 4000);
</script>
{% endblock %}
